@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

@theme {
  /* Poppins Typography */
  --font-sans: "Poppins", sans-serif;

  /* Primary Blue */
  --color-primary-blue-50: #effaff;
  --color-primary-blue-100: #dff4ff;
  --color-primary-blue-200: #b7ecff;
  --color-primary-blue-300: #77dfff;
  --color-primary-blue-400: #2fcfff;
  --color-primary-blue-500: #04b2e9; /* Main Color */
  --color-primary-blue-600: #0096d0;
  --color-primary-blue-700: #0077a8;
  --color-primary-blue-800: #01658b;
  --color-primary-blue-900: #085272;
  --color-primary-blue-950: #05354c;


  /* Secondary Blue */
  --color-secondary-blue-50: #f1fafe;
  --color-secondary-blue-100: #e3f3fb;
  --color-secondary-blue-200: #c0e9f7;
  --color-secondary-blue-300: #89d9f0; /* Main Color */
  --color-secondary-blue-400: #4ac6e6;
  --color-secondary-blue-500: #23afd4;
  --color-secondary-blue-600: #158eb4;
  --color-secondary-blue-700: #127292;
  --color-secondary-blue-800: #135f79;
  --color-secondary-blue-900: #155065;
  --color-secondary-blue-950: #0e3343;


  /* Yellow */
  --color-custom-yellow-50: #fffdeb;
  --color-custom-yellow-100: #fef8c7;
  --color-custom-yellow-200: #fdf08a;
  --color-custom-yellow-300: #fce34d;
  --color-custom-yellow-400: #fbd636; /* Main Color */
  --color-custom-yellow-500: #f5b30b;
  --color-custom-yellow-600: #d98a06;
  --color-custom-yellow-700: #b46309;
  --color-custom-yellow-800: #924c0e;
  --color-custom-yellow-900: #783f0f;
  --color-custom-yellow-950: #452003;

}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s cubic-bezier(0.4, 0, 0.2, 1) both;
}

.animate-slideUp {
  animation: slideUp 0.3s cubic-bezier(0.4, 0, 0.2, 1) both;
}
